# IDE
.idea/
.vscode/

# Binaires & build
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip
bin/
dist/

# Documents exclus du dépôt
*.html
*.pdf
*.txt
voix/*.txt
src/voix/*.txt

# Fichiers temporaires & OS
.DS_Store
Thumbs.db

